.clients {
    padding-top: 88px;
    padding-bottom: 88px;
    background-image: url(../../images/clients-bg-mobile.svg);    
    background-repeat: no-repeat;
}
.clients__inner {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
}
.clients__title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 29px;
    font-weight: 700;
    text-align: center;
    line-height: 100%;
    color: #fff;
}
.clients__link-list {
    @include list-unstyled;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 57px;
}
.clients__link {
    display: block;
    // height: 24px;
}
.clients__img--1 {
    width: 146px;
    height: 24px;
}
.clients__img--2 {
    width: 162px;
    height: 19px;
}
.clients__img--3 {
    width: 159px;
    height: 24px;
}
.clients__img--4 {
    width: 147px;
    height: 24px;
}
.clients__img--5 {
    width: 87px;
    height: 40px;
}
@include mobile-first(375px) {
    .clients__title {
        font-size: 32px;
    }
}
@include mobile-first(768px) {
    .clients {
        padding-top: 100px;
        padding-bottom: 100px;
        background-image: url(../../images/clients-bg-tablet.svg);
    }
    .clients__link-list {
        flex-direction: row;
        column-gap: 40px;
    }
    .clients__img--1 {
        width: 103px;
        height: 17px;
    }
    .clients__img--2 {
        width: 114px;
        height: 14px;    
    }
    .clients__img--3 {
        width: 112px;
        height: 17px;
    }
    .clients__img--4 {
        height: 103px;
        height: 17px;
    }
    .clients__img--5 {
        width: 61px;
        height: 28px;
    }
}
@include mobile-first(1024px) {
    .clients {
        padding-top: 140px;
        padding-bottom: 140px;
        background-image: url(../../images/clients-bg-desktop.svg);
    }
    .clients__link-list {
        flex-direction: row;
        column-gap: 50px;
    }
    .clients__title {
        font-size: 48px;
    }
    .clients__img--1 {
        width: 165px;
        height: 28px;
    }
    .clients__img--2 {
        width: 184px;
        height: 23px;    
    }
    .clients__img--3 {
        width: 180px;
        height: 28px;
    }
    .clients__img--4 {
        height: 165px;
        height: 28px;
    }
    .clients__img--5 {
        width: 68px;
        height: 45px;
    }
}
@include mobile-first(1350px) {
    .clients__link-list {
        column-gap: 79px;
    }
}